*.vcxproj*
.vs
*.sln
VirtualHairStyle/Debug/
VirtualHairStyle/Release/
VirtualHairStyle/x64/
VirtualHairStyle.VC.*
VirtualHairStyle/haarcascades*
Debug/
FaceTrackingTutorial/*
OpenGLTutorial/*
DlibExamples/*
HeadPosPnP/*
Release/*
*.exe
*.rar
VirtualHairStyle/shape_predictor_68_face_landmarks.dat
*.csv
*.xml
*.cd
